body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.background {
  width: 350px;
  height: 520px;
  background-color: white;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  margin-top: 8%;
  gap: 1px;
}

.qrcodeImage {
  width: 312px;
  height: 300px;
  border-radius: 16px;
  display: flex;
}

h1 {
  font-size: 25px;
  max-width: 82%;
}

p {
  color: grey;
  max-width: 75%;
  margin-top: 0;
}

@media (max-width: 375px) {
  .background {
    margin-top: 80px;
  }
}
